main{
    padding:0px 2%;
    height:600px;
    /* border:2px solid rgb(11, 165, 185); */
    overflow: auto;

}
article{
    display: flex;
    margin:0% 2% 2% 2%;
    padding:2%;
}
article:hover{
    border:2px solid red; 
 }
p,
h4,
#bookPreviewBt{
    /* padding:2%; */
    /* float: left; */
    margin-left: 5%;

}
.btn-dark{ 
    top:4%;
    margin-left: 1%;
}
section{
    border:2px solid black;
    padding:1%;
}
.btn-group{
    margin-bottom: 2%;
}

#bookImage{
    height:130px;
}
input:invalid {
    border: 2px dashed red;
  }
  
  input:valid {
    border: 2px solid black;
  }
  textarea:invalid {
    border: 2px dashed red;
  }
  
  textarea:valid {
    border: 2px solid black;
  }

  #feedbackBt{
      padding:10px 33%;
  }


img{
    height:150px;
}
.dropdown{
    margin-top: 2%;
    min-width: 100%;

}
*{
    box-sizing: border-box;
}
.card-header{
    background: rgb(11, 165, 185);
    color:white;
    font-size: 2vmin;
    text-align: center;
}
iframe{
    height:200px;
    width:100%;
}
.card-group{
    border:2px solid  rgb(11, 165, 185);
}