#main{
    padding:0px 2%;
    height:600px;
    /* border:2px solid rgb(11, 165, 185); */
    overflow: auto;
    margin-left: 2%;
    background: white;
}
#sidebar{
    background: rgb(11, 165, 185);
    color:white;
    padding: 2%;
    height:600px;
    text-align: center;
}
.display-6{
    padding:2%;
    margin-left: 0px;
}
#mainDisplaySection{
    border:2px solid rgb(11, 165, 185);
    padding:2%;
}

p,
h4,
#bookPreviewBt{
    /* padding:2%; */
    /* float: left; */
    margin-left: 5%;

}
/* .btn-dark{ 
    top:4%;
    margin-left: 1%;
} */


#bookImage{
    height:130px;
    width:50%;
    margin-left: 
}



input:invalid {
    border: 2px dashed red;
  }
  
  input:valid {
    border: 2px solid black;
  }
  textarea:invalid {
    border: 2px dashed red;
  }
  
  textarea:valid {
    border: 2px solid black;
  }

  #feedbackBt{
      padding:10px 33%;
  }


img{
    height:150px;
}
/* .dropdown{
    margin-top: 2%;
    min-width: 100%;
} */
*{
    box-sizing: border-box;
}
.card-header{
    background: rgb(11, 165, 185);
    color:white;
    font-size: 2vmin;
    text-align: center;
}
iframe{
    height:200px;
    width:100%;
}
.card-group{
    border:2px solid  rgb(11, 165, 185);
}




@media screen and (max-width: 640px){
    .display-6{
        font-size: 1em;
        padding-right: 20px;
    }

    #sidebar{
        display: flex;
        padding: 2%;
        height:120px;
        overflow: auto;
        margin-bottom: 10%;
    }
    #main{
        margin-bottom: 10%;
    }
  
}

@media screen and (max-width:768px) and (min-width:640px){ 
    .display-6{
        font-size: 1em;
        padding-right:50px;
    }

    #sidebar{
        display:flex;
        padding: 2%;
        height:100px;
        overflow: auto;
        margin-bottom: 10%;
    
    }
}

@media screen and (max-width:980px) and (min-width:768px){ 
    .display-6{
        font-size: 1em;
        padding-bottom:10%;
    }
}